.nav-link:hover
{
    background-color: rgb(243, 132, 243);
    color: white;
   
}


.panda-bg-info
{
    background-color: #fceae8;
}
button
{
 color: white;
 border-radius: 8px;
 padding: 9px 25px;
 border: none;
 background-image: linear-gradient(to bottom, #ff589b 0%, #ff4b92 100%);
}
.button:hover 
{
    background-color: #13b1f0;
    transition: .2s;

}
.button:hover
{
background: #1b9bff;
transition: 0.2s;
}


.accordion-item
{
    background-color: wheat;
}
